@import "tailwindcss";
@theme {
  --color-dominant: #6366f1;
  --color-thirtypercent: #448085;
  --color-thirtypercent-lower: #44808580;
  --color-tenpercent: #d5cabd;
  --color-signUp: #2196f3;
  --color-signUpHover: #2196f3cc;
  --color-notif-background: #ffebee;
  --color-notif-text: #c62828;
  --color-notif-svg: #e53935;
  --font-saira-condensed: "Saira Condensed", sans-serif;
}
